@model List<Tachey001.ViewModel.Course.AllCourse>
@{
    ViewBag.Title = "All";
    Layout = "~/Views/Shared/_LayoutHomePage.cshtml"; }

@Styles.Render("~/Assets/css/all.css")
@Styles.Render("~/Assets/css/card.css")


<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="nav justify-content-between">
                <div class="searchcourse">
                    <input class="rounded-pill border"
                           type="search"
                           id="site-search"
                           name="q"
                           placeholder=" 熱門搜尋 : procreate" />
                </div>

                <div class="sortcourse">
                    <div class="btn-group mr-5"
                         role="group"
                         aria-label="Button group with nested dropdown">
                        <div class="btn-group" role="group">
                            <button id="btnGroupDrop1"
                                    type="button"
                                    class="btn dropdown-toggle text-white nav-link"
                                    data-toggle="dropdown"
                                    aria-haspopup="true"
                                    aria-expanded="false">
                                所有課程
                            </button>
                            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                <a class="dropdown-item text-white" href="#">所有課程</a>
                                <a class="dropdown-item text-white" href="#">募資中</a>
                                <a class="dropdown-item text-white" href="#">已開課</a>
                            </div>
                        </div>
                    </div>

                    <div class="btn-group"
                         role="group"
                         aria-label="Button group with nested dropdown">
                        <div class="btn-group" role="group">
                            <button id="btnGroupDrop1"
                                    type="button"
                                    class="btn dropdown-toggle text-white nav-link"
                                    data-toggle="dropdown"
                                    aria-haspopup="true"
                                    aria-expanded="false">
                                排序
                            </button>
                            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                <a class="dropdown-item text-white" href="#">最新(預設)</a>
                                <a class="dropdown-item text-white" href="#">最多人數</a>
                                <a class="dropdown-item text-white" href="#">最長課時</a>
                                <a class="dropdown-item text-white" href="#">最高評價</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="coursebtn">
                    <button class="text-secondary">熱門課程</button>
                    <button class="text-secondary">募資倒數</button>
                    <button class="text-secondary">猜你想學</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        @foreach (var item in Model)
        {
            @Html.Partial("CardTemplate", item)
        }
    </div>
</div>