
@{
    ViewBag.Title = "All";
}

@Styles.Render("~/Assets/css/all.css")
@Styles.Render("~/Assets/css/card.css")

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="nav justify-content-between">
                <div class="searchcourse">
                    <input class="rounded-pill border"
                           type="search"
                           id="site-search"
                           name="q"
                           placeholder=" 熱門搜尋 : procreate" />
                </div>

                <div class="sortcourse">
                    <div class="btn-group mr-5"
                         role="group"
                         aria-label="Button group with nested dropdown">
                        <div class="btn-group" role="group">
                            <button id="btnGroupDrop1"
                                    type="button"
                                    class="btn dropdown-toggle"
                                    data-toggle="dropdown"
                                    aria-haspopup="true"
                                    aria-expanded="false">
                                所有課程
                            </button>
                            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                <a class="dropdown-item" href="#">所有課程</a>
                                <a class="dropdown-item" href="#">募資中</a>
                                <a class="dropdown-item" href="#">已開課</a>
                            </div>
                        </div>
                    </div>

                    <div class="btn-group"
                         role="group"
                         aria-label="Button group with nested dropdown">
                        <div class="btn-group" role="group">
                            <button id="btnGroupDrop1"
                                    type="button"
                                    class="btn dropdown-toggle"
                                    data-toggle="dropdown"
                                    aria-haspopup="true"
                                    aria-expanded="false">
                                排序
                            </button>
                            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                <a class="dropdown-item" href="#">最新(預設)</a>
                                <a class="dropdown-item" href="#">最多人數</a>
                                <a class="dropdown-item" href="#">最長課時</a>
                                <a class="dropdown-item" href="#">最高評價</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="coursebtn">
                    <button class="text-secondary">熱門課程</button>
                    <button class="text-secondary">募資倒數</button>
                    <button class="text-secondary">猜你想學</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
            <div class="card my-5">
                <div class="row no-gutters justify-content-center">
                    <div class="col-12">
                        <div class="card-title-image position-relative">
                            <div class="
                      backgroundPhoto
                      position-absolute
                      rounded-circle
                      bg-white
                    ">
                                <img src="https://0.share.photo.xuite.net/donna900920/104fe81/12711717/639651164_m.jpg"
                                     alt=""
                                     class="rounded-circle position-absolute center"
                                     id="photoImag" />
                            </div>
                        </div>
                    </div>
                    <div class="
                  col-xl-12 col-lg-12 col-md-12 col-sm-2 col-2
                  overflow-hidden
                  mb-2
                ">
                        <img src="https://images.api.hahow.in/images/5f4c73b1dccd653e568b9b9d?width=300"
                             class="card-img-top" />
                        <div class="
                    position-absolute
                    bg-hahow-dark-green
                    text-center text-white
                    backgroundTape
                  ">
                            上課囉
                        </div>
                        <div class="
                    backgroundBookmark
                    backgroundBookmarkMove
                    position-absolute
                    text-center
                  ">
                            <i class="far fa-bookmark hahow-orange line-height-40"></i>
                        </div>
                    </div>
                    <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10 col-10">
                        <h4 class="
                    card-title
                    text-justify
                    font-weight-normal
                    text-secondary
                  ">
                            Java 工程師必備！Spring Boot 零基
                        </h4>
                    </div>
                    <div class="col-xl-10 col-lg-10 col-md-10 col-sm-3 col-6 mb-2">
                        <span class="card-text text-black-50">
                            <span class="star-show">
                                <i class="fas fa-star star-gray position-relative">
                                    <i class="
                          fas
                          fa-star
                          star-yellow
                          position-absolute
                          star-display
                        "></i>
                                </i>
                                <i class="fas fa-star star-gray position-relative">
                                    <i class="
                          fas
                          fa-star
                          star-yellow
                          position-absolute
                          star-display
                        "></i>
                                </i>
                                <i class="fas fa-star star-gray position-relative">
                                    <i class="
                          fas
                          fa-star
                          star-yellow
                          position-absolute
                          star-display
                        "></i>
                                </i>
                                <i class="fas fa-star star-gray position-relative">
                                    <i class="
                          fas
                          fa-star
                          star-yellow
                          position-absolute
                          star-display
                        "></i>
                                </i>
                                <i class="fas fa-star star-gray position-relative">
                                    <i class="
                          fas
                          fa-star
                          star-yellow
                          position-absolute
                          star-display
                        "></i>
                                </i>
                            </span>
                            (6)
                        </span>
                    </div>
                    <div class="col-xl-10 col-lg-10 col-md-10 col-sm-2 col-6 mb-2">
                        <span class="card-text text-black-50">
                            <span class="couse-time-before">
                                <i class="far fa-clock"></i>
                            </span>
                            <span class="course-time">578</span>分鐘
                        </span>
                    </div>
                    <div class="col-xl-10 col-lg-10 col-md-10 col-sm-4 col-6 mb-2">
                        <span class="card-text text-black-50 mr-4">
                            <span class="course-people-before">
                                <i class="far fa-clock"></i>
                            </span>
                            <span class="course-people">260</span>人
                        </span>
                        <span class="card-text hahow-dark-green classPrice">
                            NT$<span>3,200</span>
                        </span>
                    </div>
                    <div class="
                  col-xl-0 col-lg-0 col-md-0 col-sm-3 col-6
                  mb-2
                  text-right
                ">
                        <span class="backgroundBookmark-sm d-inline-block text-center mx-3">
                            <i class="far fa-bookmark hahow-orange line-height-30"></i>
                        </span>
                    </div>
                </div>
                <div class="card-bottom bg-hahow-dark-green"></div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
            <div class="card my-5">
                <div class="row no-gutters justify-content-center">
                    <div class="col-12">
                        <div class="card-title-image position-relative">
                            <div class="
                      backgroundPhoto
                      position-absolute
                      rounded-circle
                      bg-white
                    ">
                                <img src="https://0.share.photo.xuite.net/donna900920/104fe81/12711717/639651164_m.jpg"
                                     alt=""
                                     class="rounded-circle position-absolute center"
                                     id="photoImag" />
                            </div>
                        </div>
                    </div>
                    <div class="
                  col-xl-12 col-lg-12 col-md-12 col-sm-2 col-2
                  overflow-hidden
                  mb-2
                ">
                        <img src="https://images.api.hahow.in/images/5f4c73b1dccd653e568b9b9d?width=300"
                             class="card-img-top" />
                        <div class="
                    position-absolute
                    bg-hahow-dark-green
                    text-center text-white
                    backgroundTape
                  ">
                            上課囉
                        </div>
                        <div class="
                    backgroundBookmark
                    backgroundBookmarkMove
                    position-absolute
                    text-center
                  ">
                            <i class="far fa-bookmark hahow-orange line-height-40"></i>
                        </div>
                    </div>
                    <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10 col-10">
                        <h4 class="
                    card-title
                    text-justify
                    font-weight-normal
                    text-secondary
                  ">
                            Java 工程師必備！Spring Boot 零基
                        </h4>
                    </div>
                    <div class="col-xl-10 col-lg-10 col-md-10 col-sm-3 col-6 mb-2">
                        <span class="card-text text-black-50">
                            <span class="star-show">
                                <i class="fas fa-star star-gray position-relative">
                                    <i class="
                          fas
                          fa-star
                          star-yellow
                          position-absolute
                          star-display
                        "></i>
                                </i>
                                <i class="fas fa-star star-gray position-relative">
                                    <i class="
                          fas
                          fa-star
                          star-yellow
                          position-absolute
                          star-display
                        "></i>
                                </i>
                                <i class="fas fa-star star-gray position-relative">
                                    <i class="
                          fas
                          fa-star
                          star-yellow
                          position-absolute
                          star-display
                        "></i>
                                </i>
                                <i class="fas fa-star star-gray position-relative">
                                    <i class="
                          fas
                          fa-star
                          star-yellow
                          position-absolute
                          star-display
                        "></i>
                                </i>
                                <i class="fas fa-star star-gray position-relative">
                                    <i class="
                          fas
                          fa-star
                          star-yellow
                          position-absolute
                          star-display
                        "></i>
                                </i>
                            </span>
                            (6)
                        </span>
                    </div>
                    <div class="col-xl-10 col-lg-10 col-md-10 col-sm-2 col-6 mb-2">
                        <span class="card-text text-black-50">
                            <span class="couse-time-before">
                                <i class="far fa-clock"></i>
                            </span>
                            <span class="course-time">578</span>分鐘
                        </span>
                    </div>
                    <div class="col-xl-10 col-lg-10 col-md-10 col-sm-4 col-6 mb-2">
                        <span class="card-text text-black-50 mr-4">
                            <span class="course-people-before">
                                <i class="far fa-clock"></i>
                            </span>
                            <span class="course-people">260</span>人
                        </span>
                        <span class="card-text hahow-dark-green classPrice">
                            NT$<span>3,200</span>
                        </span>
                    </div>
                    <div class="
                  col-xl-0 col-lg-0 col-md-0 col-sm-3 col-6
                  mb-2
                  text-right
                ">
                        <span class="backgroundBookmark-sm d-inline-block text-center mx-3">
                            <i class="far fa-bookmark hahow-orange line-height-30"></i>
                        </span>
                    </div>
                </div>
                <div class="card-bottom bg-hahow-dark-green"></div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
            <div class="card my-5">
                <div class="row no-gutters justify-content-center">
                    <div class="col-12">
                        <div class="card-title-image position-relative">
                            <div class="
                      backgroundPhoto
                      position-absolute
                      rounded-circle
                      bg-white
                    ">
                                <img src="https://0.share.photo.xuite.net/donna900920/104fe81/12711717/639651164_m.jpg"
                                     alt=""
                                     class="rounded-circle position-absolute center"
                                     id="photoImag" />
                            </div>
                        </div>
                    </div>
                    <div class="
                  col-xl-12 col-lg-12 col-md-12 col-sm-2 col-2
                  overflow-hidden
                  mb-2
                ">
                        <img src="https://images.api.hahow.in/images/5f4c73b1dccd653e568b9b9d?width=300"
                             class="card-img-top" />
                        <div class="
                    position-absolute
                    bg-hahow-dark-green
                    text-center text-white
                    backgroundTape
                  ">
                            上課囉
                        </div>
                        <div class="
                    backgroundBookmark
                    backgroundBookmarkMove
                    position-absolute
                    text-center
                  ">
                            <i class="far fa-bookmark hahow-orange line-height-40"></i>
                        </div>
                    </div>
                    <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10 col-10">
                        <h4 class="
                    card-title
                    text-justify
                    font-weight-normal
                    text-secondary
                  ">
                            Java 工程師必備！Spring Boot 零基
                        </h4>
                    </div>
                    <div class="col-xl-10 col-lg-10 col-md-10 col-sm-3 col-6 mb-2">
                        <span class="card-text text-black-50">
                            <span class="star-show">
                                <i class="fas fa-star star-gray position-relative">
                                    <i class="
                          fas
                          fa-star
                          star-yellow
                          position-absolute
                          star-display
                        "></i>
                                </i>
                                <i class="fas fa-star star-gray position-relative">
                                    <i class="
                          fas
                          fa-star
                          star-yellow
                          position-absolute
                          star-display
                        "></i>
                                </i>
                                <i class="fas fa-star star-gray position-relative">
                                    <i class="
                          fas
                          fa-star
                          star-yellow
                          position-absolute
                          star-display
                        "></i>
                                </i>
                                <i class="fas fa-star star-gray position-relative">
                                    <i class="
                          fas
                          fa-star
                          star-yellow
                          position-absolute
                          star-display
                        "></i>
                                </i>
                                <i class="fas fa-star star-gray position-relative">
                                    <i class="
                          fas
                          fa-star
                          star-yellow
                          position-absolute
                          star-display
                        "></i>
                                </i>
                            </span>
                            (6)
                        </span>
                    </div>
                    <div class="col-xl-10 col-lg-10 col-md-10 col-sm-2 col-6 mb-2">
                        <span class="card-text text-black-50">
                            <span class="couse-time-before">
                                <i class="far fa-clock"></i>
                            </span>
                            <span class="course-time">578</span>分鐘
                        </span>
                    </div>
                    <div class="col-xl-10 col-lg-10 col-md-10 col-sm-4 col-6 mb-2">
                        <span class="card-text text-black-50 mr-4">
                            <span class="course-people-before">
                                <i class="far fa-clock"></i>
                            </span>
                            <span class="course-people">260</span>人
                        </span>
                        <span class="card-text hahow-dark-green classPrice">
                            NT$<span>3,200</span>
                        </span>
                    </div>
                    <div class="
                  col-xl-0 col-lg-0 col-md-0 col-sm-3 col-6
                  mb-2
                  text-right
                ">
                        <span class="backgroundBookmark-sm d-inline-block text-center mx-3">
                            <i class="far fa-bookmark hahow-orange line-height-30"></i>
                        </span>
                    </div>
                </div>
                <div class="card-bottom bg-hahow-dark-green"></div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
            <div class="card my-5">
                <div class="row no-gutters justify-content-center">
                    <div class="col-12">
                        <div class="card-title-image position-relative">
                            <div class="
                        backgroundPhoto
                        position-absolute
                        rounded-circle
                        bg-white
                      ">
                                <img src="https://0.share.photo.xuite.net/donna900920/104fe81/12711717/639651164_m.jpg"
                                     alt=""
                                     class="rounded-circle position-absolute center"
                                     id="photoImag" />
                            </div>
                        </div>
                    </div>
                    <div class="
                    col-xl-12 col-lg-12 col-md-12 col-sm-2 col-2
                    overflow-hidden
                    mb-2
                  ">
                        <img src="https://images.api.hahow.in/images/5f4c73b1dccd653e568b9b9d?width=300"
                             class="card-img-top" />
                        <div class="
                      position-absolute
                      bg-hahow-dark-green
                      text-center text-white
                      backgroundTape
                    ">
                            上課囉
                        </div>
                        <div class="
                      backgroundBookmark
                      backgroundBookmarkMove
                      position-absolute
                      text-center
                    ">
                            <i class="far fa-bookmark hahow-orange line-height-40"></i>
                        </div>
                    </div>
                    <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10 col-10">
                        <h4 class="
                      card-title
                      text-justify
                      font-weight-normal
                      text-secondary
                    ">
                            Java 工程師必備！Spring Boot 零基
                        </h4>
                    </div>
                    <div class="col-xl-10 col-lg-10 col-md-10 col-sm-3 col-6 mb-2">
                        <span class="card-text text-black-50">
                            <span class="star-show">
                                <i class="fas fa-star star-gray position-relative">
                                    <i class="
                            fas
                            fa-star
                            star-yellow
                            position-absolute
                            star-display
                          "></i>
                                </i>
                                <i class="fas fa-star star-gray position-relative">
                                    <i class="
                            fas
                            fa-star
                            star-yellow
                            position-absolute
                            star-display
                          "></i>
                                </i>
                                <i class="fas fa-star star-gray position-relative">
                                    <i class="
                            fas
                            fa-star
                            star-yellow
                            position-absolute
                            star-display
                          "></i>
                                </i>
                                <i class="fas fa-star star-gray position-relative">
                                    <i class="
                            fas
                            fa-star
                            star-yellow
                            position-absolute
                            star-display
                          "></i>
                                </i>
                                <i class="fas fa-star star-gray position-relative">
                                    <i class="
                            fas
                            fa-star
                            star-yellow
                            position-absolute
                            star-display
                          "></i>
                                </i>
                            </span>
                            (6)
                        </span>
                    </div>
                    <div class="col-xl-10 col-lg-10 col-md-10 col-sm-2 col-6 mb-2">
                        <span class="card-text text-black-50">
                            <span class="couse-time-before">
                                <i class="far fa-clock"></i>
                            </span>
                            <span class="course-time">578</span>分鐘
                        </span>
                    </div>
                    <div class="col-xl-10 col-lg-10 col-md-10 col-sm-4 col-6 mb-2">
                        <span class="card-text text-black-50 mr-4">
                            <span class="course-people-before">
                                <i class="far fa-clock"></i>
                            </span>
                            <span class="course-people">260</span>人
                        </span>
                        <span class="card-text hahow-dark-green classPrice">
                            NT$<span>3,200</span>
                        </span>
                    </div>
                    <div class="
                    col-xl-0 col-lg-0 col-md-0 col-sm-3 col-6
                    mb-2
                    text-right
                  ">
                        <span class="backgroundBookmark-sm d-inline-block text-center mx-3">
                            <i class="far fa-bookmark hahow-orange line-height-30"></i>
                        </span>
                    </div>
                </div>
                <div class="card-bottom bg-hahow-dark-green"></div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
            <div class="card my-5">
                <div class="row no-gutters justify-content-center">
                    <div class="col-12">
                        <div class="card-title-image position-relative">
                            <div class="
                        backgroundPhoto
                        position-absolute
                        rounded-circle
                        bg-white
                      ">
                                <img src="https://0.share.photo.xuite.net/donna900920/104fe81/12711717/639651164_m.jpg"
                                     alt=""
                                     class="rounded-circle position-absolute center"
                                     id="photoImag" />
                            </div>
                        </div>
                    </div>
                    <div class="
                    col-xl-12 col-lg-12 col-md-12 col-sm-2 col-2
                    overflow-hidden
                    mb-2
                  ">
                        <img src="https://images.api.hahow.in/images/5f4c73b1dccd653e568b9b9d?width=300"
                             class="card-img-top" />
                        <div class="
                      position-absolute
                      bg-hahow-dark-green
                      text-center text-white
                      backgroundTape
                    ">
                            上課囉
                        </div>
                        <div class="
                      backgroundBookmark
                      backgroundBookmarkMove
                      position-absolute
                      text-center
                    ">
                            <i class="far fa-bookmark hahow-orange line-height-40"></i>
                        </div>
                    </div>
                    <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10 col-10">
                        <h4 class="
                      card-title
                      text-justify
                      font-weight-normal
                      text-secondary
                    ">
                            Java 工程師必備！Spring Boot 零基
                        </h4>
                    </div>
                    <div class="col-xl-10 col-lg-10 col-md-10 col-sm-3 col-6 mb-2">
                        <span class="card-text text-black-50">
                            <span class="star-show">
                                <i class="fas fa-star star-gray position-relative">
                                    <i class="
                            fas
                            fa-star
                            star-yellow
                            position-absolute
                            star-display
                          "></i>
                                </i>
                                <i class="fas fa-star star-gray position-relative">
                                    <i class="
                            fas
                            fa-star
                            star-yellow
                            position-absolute
                            star-display
                          "></i>
                                </i>
                                <i class="fas fa-star star-gray position-relative">
                                    <i class="
                            fas
                            fa-star
                            star-yellow
                            position-absolute
                            star-display
                          "></i>
                                </i>
                                <i class="fas fa-star star-gray position-relative">
                                    <i class="
                            fas
                            fa-star
                            star-yellow
                            position-absolute
                            star-display
                          "></i>
                                </i>
                                <i class="fas fa-star star-gray position-relative">
                                    <i class="
                            fas
                            fa-star
                            star-yellow
                            position-absolute
                            star-display
                          "></i>
                                </i>
                            </span>
                            (6)
                        </span>
                    </div>
                    <div class="col-xl-10 col-lg-10 col-md-10 col-sm-2 col-6 mb-2">
                        <span class="card-text text-black-50">
                            <span class="couse-time-before">
                                <i class="far fa-clock"></i>
                            </span>
                            <span class="course-time">578</span>分鐘
                        </span>
                    </div>
                    <div class="col-xl-10 col-lg-10 col-md-10 col-sm-4 col-6 mb-2">
                        <span class="card-text text-black-50 mr-4">
                            <span class="course-people-before">
                                <i class="far fa-clock"></i>
                            </span>
                            <span class="course-people">260</span>人
                        </span>
                        <span class="card-text hahow-dark-green classPrice">
                            NT$<span>3,200</span>
                        </span>
                    </div>
                    <div class="
                    col-xl-0 col-lg-0 col-md-0 col-sm-3 col-6
                    mb-2
                    text-right
                  ">
                        <span class="backgroundBookmark-sm d-inline-block text-center mx-3">
                            <i class="far fa-bookmark hahow-orange line-height-30"></i>
                        </span>
                    </div>
                </div>
                <div class="card-bottom bg-hahow-dark-green"></div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
            <div class="card my-5">
                <div class="row no-gutters justify-content-center">
                    <div class="col-12">
                        <div class="card-title-image position-relative">
                            <div class="
                        backgroundPhoto
                        position-absolute
                        rounded-circle
                        bg-white
                      ">
                                <img src="https://0.share.photo.xuite.net/donna900920/104fe81/12711717/639651164_m.jpg"
                                     alt=""
                                     class="rounded-circle position-absolute center"
                                     id="photoImag" />
                            </div>
                        </div>
                    </div>
                    <div class="
                    col-xl-12 col-lg-12 col-md-12 col-sm-2 col-2
                    overflow-hidden
                    mb-2
                  ">
                        <img src="https://images.api.hahow.in/images/5f4c73b1dccd653e568b9b9d?width=300"
                             class="card-img-top" />
                        <div class="
                      position-absolute
                      bg-hahow-dark-green
                      text-center text-white
                      backgroundTape
                    ">
                            上課囉
                        </div>
                        <div class="
                      backgroundBookmark
                      backgroundBookmarkMove
                      position-absolute
                      text-center
                    ">
                            <i class="far fa-bookmark hahow-orange line-height-40"></i>
                        </div>
                    </div>
                    <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10 col-10">
                        <h4 class="
                      card-title
                      text-justify
                      font-weight-normal
                      text-secondary
                    ">
                            Java 工程師必備！Spring Boot 零基
                        </h4>
                    </div>
                    <div class="col-xl-10 col-lg-10 col-md-10 col-sm-3 col-6 mb-2">
                        <span class="card-text text-black-50">
                            <span class="star-show">
                                <i class="fas fa-star star-gray position-relative">
                                    <i class="
                            fas
                            fa-star
                            star-yellow
                            position-absolute
                            star-display
                          "></i>
                                </i>
                                <i class="fas fa-star star-gray position-relative">
                                    <i class="
                            fas
                            fa-star
                            star-yellow
                            position-absolute
                            star-display
                          "></i>
                                </i>
                                <i class="fas fa-star star-gray position-relative">
                                    <i class="
                            fas
                            fa-star
                            star-yellow
                            position-absolute
                            star-display
                          "></i>
                                </i>
                                <i class="fas fa-star star-gray position-relative">
                                    <i class="
                            fas
                            fa-star
                            star-yellow
                            position-absolute
                            star-display
                          "></i>
                                </i>
                                <i class="fas fa-star star-gray position-relative">
                                    <i class="
                            fas
                            fa-star
                            star-yellow
                            position-absolute
                            star-display
                          "></i>
                                </i>
                            </span>
                            (6)
                        </span>
                    </div>
                    <div class="col-xl-10 col-lg-10 col-md-10 col-sm-2 col-6 mb-2">
                        <span class="card-text text-black-50">
                            <span class="couse-time-before">
                                <i class="far fa-clock"></i>
                            </span>
                            <span class="course-time">578</span>分鐘
                        </span>
                    </div>
                    <div class="col-xl-10 col-lg-10 col-md-10 col-sm-4 col-6 mb-2">
                        <span class="card-text text-black-50 mr-4">
                            <span class="course-people-before">
                                <i class="far fa-clock"></i>
                            </span>
                            <span class="course-people">260</span>人
                        </span>
                        <span class="card-text hahow-dark-green classPrice">
                            NT$<span>3,200</span>
                        </span>
                    </div>
                    <div class="
                    col-xl-0 col-lg-0 col-md-0 col-sm-3 col-6
                    mb-2
                    text-right
                  ">
                        <span class="backgroundBookmark-sm d-inline-block text-center mx-3">
                            <i class="far fa-bookmark hahow-orange line-height-30"></i>
                        </span>
                    </div>
                </div>
                <div class="card-bottom bg-hahow-dark-green"></div>
            </div>
        </div>
    </div>
</div>