@Styles.Render("~/Assets/css/personal.css")

@{
    ViewBag.Title = "Profile"; Layout = "~/Views/Shared/_LayoutCreate.cshtml";
}


<div class="container">

    <!-- 內容 -->
    <div class="row">
        <div class="col-xl-3">

            <!-- 關於我 -->
            <div class="user-info marg-b-25 pad-t-0">
                <div class="ta-l">
                    <div class="user-digt">
                        <div class="profile pad-t-45 pad-rl-25 pad-b-20">
                            <div class="profile-image-wrapper marg-b-25">
                                <div class="user-img-block profile-image profile-image-xlg " size="170">
                                    <a class="no-pointer" href="/">
                                        <!-- js edit -->
                                        <img src="/Assets/img/dd.jpg" width="" class="user-img">
                                        <!-- js edit -->
                                    </a>
                                </div>
                                <div class="upload-btn">
                                    <!-- <input accept="" type="file" class="sc-1e89eo2-7 gzJgBZ"> -->
                                    <div class="click-container">
                                        <button class="cancel-btn" height="50px" width="50px">
                                            <span aria-hidden="true" class="fa fa-times"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="username editable">
                                <!-- js edit -->
                                <h3>
                                    底迪
                                    <span class="pan edit-icon">
                                        <span aria-hidden="true" class="fa fa-pencil"></span>
                                    </span>
                                </h3>
                                <!-- js edit -->
                            </div>
                            <div class="links editable">
                                我的網站連結
                                <span class="pan links-edit-icon">
                                    <span aria-hidden="true" class="fa fa-pencil"></span>
                                </span>
                            </div>
                        </div>
                        <div class="course">
                            <div><span class="txt-small">已參加</span><!-- js edit --><span class="hightlight">0 堂課</span><!-- js edit --></div>
                            <div><span class="txt-small">已開設</span><!-- js edit --><span class="hightlight">0 堂課</span><!-- js edit --></div>
                        </div>

                        <!-- 關於我 -->
                        <div class="user-info-edit pad-rl-30">
                            <div class="info editable">
                                <h6 class="marg-b-0"><b>關於我</b></h6>
                                <div class="about-content editable about-content">
                                    <!-- js edit -->
                                    <span>
                                        簡單介紹一下自己吧！
                                        <span class="pan marg-l-10" id="about-textarea-pen">
                                            <span aria-hidden="true" class="fa fa-pencil"></span>
                                        </span>
                                    </span>
                                    <!-- js edit -->
                                </div>
                                <div id="about-textarea" style="display: none;">
                                    <div class="marg-tb-10 textarea">
                                        <textarea class="textarea-content marg-tb-10 textarea" placeholder="簡單介紹一下自己吧！" rows="2"></textarea>
                                    </div>
                                    <div class="txt-right">
                                        <button class="textarea-cancel-btn marg-r-5">取消</button>
                                        <button class="textarea-submit-btn marg-l-5">確定</button>
                                    </div>
                                </div>
                            </div>
                            <div class="info editable">
                                <h6 class="marg-b-0"><b>自己的專長</b></h6>
                                <div class="about-content editable">
                                    <!-- js edit -->
                                    <span>
                                        有什麼擅長的事情嗎？
                                        <span class="pan marg-l-10">
                                            <span aria-hidden="true" class="fa fa-pencil"></span>
                                        </span>
                                    </span>
                                    <!-- js edit -->
                                </div>
                            </div>
                            <div class="info editable">
                                <h6 class="marg-b-0"><b>感興趣的事物</b></h6>
                                <div class="about-content editable">
                                    <!-- js edit -->
                                    <span>
                                        平常喜歡做什麼呢？
                                        <span class="pan marg-l-10">
                                            <span aria-hidden="true" class="fa fa-pencil"></span>
                                        </span>
                                    </span>
                                    <!-- js edit -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 分享個人頁面 -->
            <div>
                <section>
                    <div class="user-info marg-b-25">
                        <h4 class="share-text pad-tb-15 marg-tb-0">分享個人頁面</h4>
                        <div class="ta-l">
                            <div class="pad-rl-20 pad-tb-10">
                                喜歡學習過程中的充實與進步嗎？快和朋友一起分享你在 Hahow 的學習紀錄吧！
                                <div class="share-icon-group marg-t-20 marg-b-10">
                                    分享到
                                    <a class="community-icon fb marg-l-5" size="30"></a>
                                    <a class="community-icon google marg-l-5" size="30"></a>
                                    <a class="community-icon plurk marg-l-5" size="30"></a>
                                    <a class="community-icon line marg-l-5" size="30"></a>
                                </div>
                            </div>
                        </div>
                        <div class="preview pad-tb-15 pad-rl-30">
                            <button class="preview-btn mwun marg-rl-auto">預覽我的檔案</button>
                        </div>
                    </div>
                </section>
            </div>
        </div>

        <!-- 右邊資訊填寫 -->
        <div class="col-xl">
            <!-- 個人頁面 -->
            <section class="marg-b-30">
                <div class="personal-page pad-rl-0">
                    <div class="ta-l">
                        <div class="relative pad-rl-0">
                            <!-- js edit -->
                            <div class="cover-image">
                                <img alt="icon"
                                     class=""
                                     src="/Assets/img/member/cover-default.png">
                            </div>
                            <!-- js edit -->
                            <div class="upload-btn">
                                <!-- <input accept="" type="file" class="sc-1e89eo2-7 gzJgBZ"> -->
                                <div class="click-container">
                                    <button class="update-btn" height="50px" width="50px">
                                        <span aria-hidden="true" class="fa fa-cloud-upload"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="marg-rl-25 pad-b-5">
                            <div class="tab-block underline marg-b-5">
                                <span contenttext="編輯" aria-hidden="true" class="fa fa-pencil pp-edit pull-right pad-tb-15"></span>
                            </div>
                            <p>編輯個人頁面，和大家分享更多精彩故事</p>
                        </div>
                    </div>
                </div>
            </section>

            <!-- 我開的課 -->
            <div class="marg-b-30">
                <div class="course-overview underline">
                    <h4>我開的課</h4><span class="spacer"></span><input type="checkbox" checked="">公開我開的課
                </div>
                <div class="course-card">
                    <div class="briefs-container brief-col-lg-3 brief-col-md-2 brief-col-sm-2 brief-col-xs-1">
                        <!-- 課程卡 -->
                    </div>
                </div>
            </div>

            <!-- 我修的課 -->
            <div class="marg-b-30">
                <div class="course-overview underline">
                    <h4>我修的課</h4><span class="spacer"></span><input type="checkbox" checked="">公開我修的課
                </div>
                <div class="course-card">
                    <div class="briefs-container brief-col-lg-3 brief-col-md-2 brief-col-sm-2 brief-col-xs-1">
                        <!-- 課程卡 -->
                    </div>
                </div>
            </div>

            <!-- 我收藏的課 -->
            <div class="marg-b-30">
                <div class="course-overview underline">
                    <h4>我收藏的課</h4><span class="spacer"></span><input type="checkbox" checked="">公開我收藏的課
                </div>
                <div class="course-card">
                    <div class="briefs-container brief-col-lg-3 brief-col-md-2 brief-col-sm-2 brief-col-xs-1">
                        <!-- 課程卡 -->
                    </div>
                </div>
            </div>

            <!-- 我購買的文章 -->
            <div class="marg-b-30">
                <div class="course-overview underline">
                    <h4>我購買的文章</h4><span class="spacer"></span><input type="checkbox" checked="">公開我購買的文章
                </div>
                <div class="course-card">
                    <div class="briefs-container brief-col-lg-3 brief-col-md-2 brief-col-sm-2 brief-col-xs-1">
                        <!-- 課程卡 -->
                    </div>
                </div>
            </div>

            <!-- 我收藏的文章 -->
            <div class="marg-b-30">
                <div class="course-overview underline">
                    <h4>我收藏的文章</h4><span class="spacer"></span><input type="checkbox" checked="">公開我收藏的文章
                </div>
                <div class="course-card">
                    <div class="briefs-container brief-col-lg-3 brief-col-md-2 brief-col-sm-2 brief-col-xs-1">
                        <!-- 課程卡 -->
                    </div>
                </div>
            </div>

            <!-- 我的課程作品 -->
            <div class="marg-b-30">
                <div class="course-overview underline">
                    <h4>我的課程作品</h4><span class="spacer"></span><input type="checkbox" checked="">公開我的課程作品
                </div>
                <div class="course-card">
                    <div class="briefs-container brief-col-lg-3 brief-col-md-2 brief-col-sm-2 brief-col-xs-1">
                        <!-- 課程卡 -->
                    </div>
                </div>
            </div>

            <!-- 我的願望 -->
            <div class="marg-b-30">
                <div class="course-overview underline">
                    <h4>我的願望</h4><span class="spacer"></span><input type="checkbox" checked="">公開我的願望
                </div>
                <div class="course-card">
                    <div class="briefs-container brief-col-lg-3 brief-col-md-2 brief-col-sm-2 brief-col-xs-1">
                        <!-- 課程卡 -->
                    </div>
                </div>
            </div>

            <!-- 我收藏的願望 -->
            <div class="marg-b-30">
                <div class="course-overview underline">
                    <h4>我收藏的願望</h4><span class="spacer"></span><input type="checkbox" checked="">公開我收藏的願望
                </div>
                <div class="course-card">
                    <div class="briefs-container brief-col-lg-3 brief-col-md-2 brief-col-sm-2 brief-col-xs-1">
                        <!-- 課程卡 -->
                    </div>
                </div>
            </div>



        </div>
    </div>
</div>

@Scripts.Render("~/Assets/js/personal.js")
