body {
  background-color: rgb(243, 243, 241);
}

.change-btn-checked {
  background-color: rgb(243, 243, 241);
  color: rgb(250, 139, 0);
  border: 0px solid;
}

.change-btn-checked-border{
  border-bottom: 5px solid rgb(250, 139, 0);
}

.change-btn {
    background-color: #170633;
    color: #ccc;
    border: .4px solid white;
}

.check-b:hover .change-btn {
  color: yellow;
}

.text-black-20 {
  color: #ccc;
}

.btn-tape {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.border-bottom-yellow {
    border-bottom: .4px solid white;
}