
@{
    ViewBag.Title = "CourseCard";
}
@Styles.Render("~/Assets/css/card.css")
<h2>CourseCard測試</h2>


<iframe allowtransparency="false" height="600" src="https://drive.google.com/embeddedfolderview?authuser=0&amp;hl=zh_TW&amp;id=1Qot3d_YES9ZIjUvkJGYI6SP95DWL6pnS#grid" width="100%"></iframe>